absl-py==0.6.1
astor==0.7.1
basketball-reference-web-scraper==3.1.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gast==0.2.0
grpcio==1.16.1
gunicorn==19.9.0
h5py==2.8.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
numpy==1.15.2
pandas==0.23.4
protobuf==3.6.1
psycopg2==2.7.5
pymongo==3.7.2
python-dateutil==2.7.3
pytz==2018.6
PyYAML==3.13
requests==2.20.0
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.12
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
urllib3==1.24
Werkzeug==0.14.1