<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>NBA Game Forecaster by Team MAAKVL</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">

  <!-- Inserting jquery for dropdown menu to function properly -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Boostrap javascript and css -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        </button>
        <a href="/"><img src="../static/images/NBA.png" title="home"></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about_the_project">ABOUT THE PROJECT</a></li>
        <li><a href="/">PICK YOUR TEAMS</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SEASON PREDICTIONS<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/scrape_today">CURRENT GAMES</a></li>
                <li><a href="/scrape_tomorrow">UPCOMING GAMES</a></li>
            </ul></li>   
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EXPLORING THE DATA <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/gathering_the_data">GATHERING THE DATA</a></li>
                <li><a href="/do_the_stats_matter">DO THE STATS MATTER</a></li>
                <li><a href="/teaching_the_machine">TEACHING THE MACHINE</a></li>
                <li><a href="/conclusion">CONCLUSION</a></li>
                <li><a href="/sources">SOURCES</a></li>
            </ul></li>   
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>
  <!-- End Navigation -->

  <!-- Home Section -->
  <section id="home">
    <div class="container-fluid">
      <div class="bgimg">
        <div class="centered">
          <h1>NBA Game Forecaster</h1>
          <h2>2018-2019 Season</h2>
          <br>
          <h2>Pick a game from today</h2>
        </div>
      </div>
    </div>
  </section>
  
  <br>

  <!-- Games Section -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">

    {% for day in today %}
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Game begins on {{ day.date }} at {{ day.start_time }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="leftimage" class="col-sm-4">
                <img src="{{ url_for('static', filename='images/logos_number/' + day.home_team + '.svg') }}"/>
              </div>
      
              <div class="pre_game" class="col-sm-4">
                <h3>{{ day.home_team}} ({{day.home_record}}) vs {{ day.away_team}} ({{day.away_record}})</h3>
                  <p>@ {{day.arena}}</p><br>
                  <form action="/today_results" method="POST" role="form">
                    <select name="hometeam"> <option selected>{{ day.home_team}}</option></select>
                    <p> - </p>  
                    <select name="awayteam"> <option selected>{{ day.away_team}}</option></select>
                    <!-- <input type="select" id="awayteam" name="awayteam"><option value="{{ day.away_team}}"></option> -->
                      <div class=row>
                        <input type="submit" value="Which team is going to win?" class="btn btn-primary" role="button">
                      </div>
                    <!-- <a href="#prediction" class="btn btn-primary" role="button">Which team is going to win?</a> -->
                  </form>
              </div>
              <div class="rightimage" class="col-sm-4">
                  <img src="{{ url_for('static', filename='images/logos_number/' + day.away_team + '.svg') }}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="col-md-3">
      <a class="twitter-timeline" data-height="1500" href="https://twitter.com/NBA?ref_src=twsrc%5Etfw">Tweets by NBA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
  <br>

  <!-- Footer Section -->
  <footer class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright text-center">
            <p>&copy; MAAKVL 2018, a group of data analysts who are 
              motived by data analysis and machine learning. 
              All rights reserved. <br>
            * Disclaimer: Predictions are for reference only, there are many 
            other factors that go into final outcome of a game. <br> 
            Research the games carefully if you plan to use our predicitons for other purposes.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll-up -->
	<div class="scroll-up">
    <a href="#home"><i class="fa fa-angle-up"></i></a>
  </div>
  
  <!-- JS References -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
  <script src="static/js/homepage_data.js"></script>
  <script src="static/js/rotating.js"></script>

</body>

</html>
